html {
  -webkit-text-size-adjust:none
}
body {
  margin:0;
  font-family:Hiragino Sans GB,Arial,Helvetica,"宋体",sans-serif;
  overflow-x:hidden
}
* {
  outline:0;
  margin:0;
  padding:0
}
a {
  text-decoration:none;
  color:#000
}
a:visited {
  color:#000
}
ul li {
  list-style:none
}
.hide {
  display:none!important
}
@-webkit-keyframes loading {
  0% {
  -webkit-transform:rotate(0deg)
}
50% {
  -webkit-transform:rotate(180deg)
}
100% {
  -webkit-transform:rotate(360deg)
}
}@-moz-keyframes loading {
  0% {
  -moz-transform:rotate(0deg)
}
50% {
  -moz-transform:rotate(180deg)
}
100% {
  -moz-transform:rotate(360deg)
}
}.load_wrap {
  margin:.5rem;
  text-align:center
}
.load_wrap span {
  font-size:.6rem
}
.loading_img {
  vertical-align:middle;
  margin-right:5px;
  width:20px;
  height:auto;
  -webkit-transform-origin:center center;
  -webkit-animation-name:loading;
  -webkit-animation-duration:1.2s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
  -moz-transform-origin:center center;
  -moz-animation-name:loading;
  -moz-animation-duration:1.2s;
  -moz-animation-timing-function:linear;
  -moz-animation-iteration-count:infinite
}

.tl-r{text-align: right;}
.tl-c{text-align: center;}

.clearfix:after{display:block;content:"\20";height:0;clear:both;overflow:hidden;visibility:hidden;}
.clearfix{*zoom:1;}

.fl-l{float: left;}
.fl-r{float: right;}

.vl-m{vertical-align: middle; display: inline-block;}


body,html{width:100%;height:100%;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;}
.global{position:relative;height:100%;width:100%;/*overflow:hidden;*/
-webkit-transform-style:preserve-3d;-webkit-backface-visibility:hidden;}

.screen{-webkit-transform-style:preserve-3d;}

.ease{-webkit-transition:all .5s ease-in-out;}

.layer{position:relative;overflow:hidden;}
.layer_bg{position:absolute;left:0;top:0;width:100%;}


html{overflow: hidden;}
body{background: #25272b; height: 100%; overflow: hidden;}

.h-page1,
.h-page2,
.h-page3,
.h-page4,
.h-page5{position: relative;}
.visiblehide,
.main.visiblehide{opacity: 0;}

.main{height: 100%; position: absolute; top: 0; left: 0; width: 100%;}
.h1-big-bg{position: absolute; top: 0; left: 0; width: 100%; z-index: 10;}
.title1{position: absolute; top: 0.875rem; width: 4.625rem; z-index: 12; left: 50%;
margin-left: -2.3125rem;}
.click-area{position: absolute; top: 21rem; left: 0; z-index: 13; width: 100%;}
.click-area img{display: block; margin: 0 auto;}

.click-area .page1-hand{width: 18px; margin-bottom: 10px;}
.page1-font{height: 0.5rem;}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.show.h-page2{opacity: 1;}
.show.h-page3{opacity: 1;}

.title3{position: absolute; top: 1.75rem; width: 4.475rem; z-index: 12; left: 50%;
margin-left: -2.2375rem;}


.page4-title{position: absolute; z-index: 12; top: 1.4rem; left: 1.875rem; width: 8.725rem;}
.gongyi{position: absolute; z-index: 14;}
.gongyi.one{width: 5.075rem; left: 1rem; top: 6rem;}
.gongyi.two{width: 6rem; right: 1rem; top: 6.04rem;}
.gongyi.three{width: 5.25rem; left: 1rem; top: 15rem;}
.gongyi.four{width: 5.5rem; right: 1rem; top: 15rem;}

.show .h1-big-bg-page4{-webkit-animation: fadeIn .6s .1s linear both; animation: fadeIn .6s .1s linear both;}
.show .page4-title{-webkit-animation: fadeDown .6s .2s linear both; animation: fadeDown .6s .2s linear both;}
.show .gongyi.one{-webkit-animation: fadeRight .6s .2s linear both; animation: fadeRight .6s .2s linear both;}
.show .gongyi.two{-webkit-animation: fadeLeft .6s .8s linear both; animation: fadeLeft .6s .8s linear both;}
.show .gongyi.three{-webkit-animation: fadeRight .6s 1.4s linear both; animation: fadeRight .6s 1.4s linear both;}
.show .gongyi.four{-webkit-animation: fadeLeft .6s 1.8s linear both; animation: fadeLeft .6s 1.8s linear both;}

.show2 .h1-big-bg-page4{-webkit-animation: fadeIn .6s .1s linear both; animation: fadeIn .6s .1s linear both;}
.show2 .page4-title{-webkit-animation: fadeDown .6s .2s linear both; animation: fadeDown .6s .2s linear both;}
.show2 .gongyi.one{-webkit-animation: fadeRight .6s .2s linear both; animation: fadeRight .6s .2s linear both;}
.show2 .gongyi.two{-webkit-animation: fadeLeft .6s .8s linear both; animation: fadeLeft .6s .8s linear both;}
.show2 .gongyi.three{-webkit-animation: fadeRight .6s 1.4s linear both; animation: fadeRight .6s 1.4s linear both;}
.show2 .gongyi.four{-webkit-animation: fadeLeft .6s 1.8s linear both; animation: fadeLeft .6s 1.8s linear both;}

.show-turn{-webkit-animation: fadeUp .4s 2s linear both; animation: fadeUp .4s 2s linear both;}
.show-turn{position: absolute; top: 23rem; width: 30px; height: 32px; left:50%; margin-left: -15px;
 z-index: 16;}
.turn-ico{
  width: 24px; height: 26px; display: block;
  background: url(../img/sprites-n2.png) 0 0 no-repeat;
    background-size:24px 26px; opacity: .6;
}
@media screen and (min-height: 480px){
  .show-turn{top: 24rem;}
}


.show .turn-ico{ -webkit-animation: arrow 1s infinite alternate; animation: arrow 1s infinite alternate;}
@-webkit-keyframes arrow{
    0%{ -webkit-transform: translateY(0);}
    100%{ -webkit-transform: translateY(-10px);}
}

@keyframes arrow{
    0%{ transform: translateY(0);}
    100%{ transform: translateY(-10px);}
}

.h5-font{width: 13.15rem; top: 3.1rem; left: 50%; margin-left: -6.575rem; position: absolute;
z-index: 18;}
.logo{position: absolute; top: 17.25rem; width: 8.75rem; left: 50%;
margin-left: -4.375rem; z-index: 20;}

.h1-big-bg-page5{z-index: 16;}
.h-page4,
.h-page5{opacity: 0;}

.show.h-page4,
.show.h-page5{opacity: 1;}
.show .h1-big-bg-page5{-webkit-animation: fadeIn .6s .1s linear both; animation: fadeIn .6s .1s linear both;}
.show .h5-font{-webkit-animation: fadeIn .6s 1.6s linear both; animation: fadeIn .6s 1.6s linear both;}
.show .logo{-webkit-animation: fadeUp .8s 1s linear both; animation: fadeUp .8s 1s linear both;}

/*.fp-tableCell{background: red;}*/
.h-page4,
.h-page5{overflow: hidden; background: #25272b;}
.loading{height: 100%; width: 100%; background: #25272b; position: absolute; z-index: 40;
top: 0; left: 0; color: #fff;}

.circle{
    margin: 120px auto;
    position: relative;
    width: 8px;
    height: 8px;
    background-color: rgba(255,255,255,.5);;
    box-shadow: -14px 0px 0px rgba(255,255,255,1);
    border-radius: 50%;
    -webkit-animation: circle_classic 1s ease-in-out infinite alternate;
       -moz-animation: circle_classic 1s ease-in-out infinite alternate;
            animation: circle_classic 1s ease-in-out infinite alternate;
}

@-webkit-keyframes circle_classic{
    0%{ opacity: 0.1; -webkit-transform: rotate(0deg) scale(0.5);}
   100%{opacity: 1; -webkit-transform: rotate(360deg) scale(1.2);}
}
@-moz-keyframes circle_classic{
    0%{ opacity: 0.1; -moz-transform: rotate(0deg) scale(0.5);}
   100%{opacity: 1; -moz-transform: rotate(360deg) scale(1.2);}
}
@keyframes circle_classic{
    0%{ opacity: 0.1; transform: rotate(0deg) scale(0.5);}
   100%{opacity: 1; transform: rotate(360deg) scale(1.2);}
}

.h-page1{opacity: 0;}
.show.h-page1{opacity: 1.0;}
.show .title1{-webkit-animation: fadeDown .8s .6s linear both; animation: fadeDown .8s .6s linear both;}
.show .h1-big-bg1{-webkit-animation: fadeIn .4s .1s linear both; animation: fadeIn .4s .1s linear both;}
.show .page1-hand{ -webkit-animation: arrow .6s infinite alternate; animation: arrow .6s infinite alternate;}
.show .click-area{-webkit-animation: fadeUp .6s 1.6s linear both; animation: fadeUp .6s 1.6s linear both;}

.end.h-page1 .title1{-webkit-animation: fadeOut .4s .2s linear both; animation: fadeOut .4s .2s linear both;}
.end.h-page1 .click-area{-webkit-animation: fadeOut .4s .2s linear both; animation: fadeOut .4s .2s linear both;}

.end .h1-big-bg1{-webkit-animation: fadeOut .4s .2s linear both; animation: fadeOut .4s .2s linear both;}

.show .h1-big-bg2{-webkit-animation: fadeOut .4s 1.2s linear both; animation: fadeOut .4s 1.2s linear both;}
.show .h1-big-bg3{-webkit-animation: fadeOut .4s 2.2s linear both; animation: fadeOut .4s 2.2s linear both;}
.show .h1-big-bg4{-webkit-animation: fadeOut .4s 3.2s linear both; animation: fadeOut .4s 3.2s linear both;}
.show .h1-big-bg5{-webkit-animation: fadeOut .4s 3.4s linear both; animation: fadeOut .4s 3.4s linear both;}


.bai-quan{position: absolute; width: 39px; height: 39px; right: 3.2rem; top: 14rem; z-index: 14;}
.click-ico{width: 100%; height: 100%; display: block;}
.h-3-font{height: 0.5rem; position: absolute; top: 22rem; left:50%; margin-left: -2.35rem; z-index: 14;}

.show .h1-big-bg6{-webkit-animation: fadeIn .4s .2s linear both; animation: fadeIn .4s .2s linear both;}
.show .title3{-webkit-animation: fadeDown .6s .4s linear both; animation: fadeDown .6s .4s linear both;}
.show .bai-quan{-webkit-animation: fadeIn .4s .8s linear both; animation: fadeIn .4s .8s linear both;}
.show .click-ico{-webkit-animation:vv 2s both ease-in-out 1s infinite; animation:vv 2s both ease-in-out 1s infinite;}
.show .h-3-font{-webkit-animation: fadeUp .4s 1.2s linear both; animation: fadeUp .4s 1.2s linear both;}
@-webkit-keyframes vv {
    0% {-webkit-transform: scale(.5);}
    40% {-webkit-transform: scale(1.0);}
    100% {-webkit-transform: scale(.5);}
}

@keyframes vv {
    0% {transform: scale(.5);}
    40% {transform: scale(1.0);}
    100% {transform: scale(.5);}
}




@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40%, 0); }
  80% {
    opacity: 0.8;
    -webkit-transform: translate3d(0, 10%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-40%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }
@-webkit-keyframes fadeLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(40%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }


@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeUp {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 20%, 0); }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@-moz-keyframes fadeUp2 {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 40%, 0); }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@-moz-keyframes fadeDown {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, -40%, 0); }
  80% {
    opacity: 0.8;
    -moz-transform: translate3d(0, 10%, 0); }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@-moz-keyframes fadeRight {
  0% {
    opacity: 0;
    -moz-transform: translate3d(-40%, 0, 0); }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }
@-moz-keyframes fadeLeft {
  0% {
    opacity: 0;
    -moz-transform: translate3d(40%, 0, 0); }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0); } }


@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeUp {
  0% {
    opacity: 0;
    -ms-transform: translate3d(0, 20%, 0); }
  100% {
    opacity: 1;
    -ms-transform: translate3d(0, 0, 0); } }
@-ms-keyframes fadeUp2 {
  0% {
    opacity: 0;
    -ms-transform: translate3d(0, 40%, 0); }
  100% {
    opacity: 1;
    -ms-transform: translate3d(0, 0, 0); } }
@-ms-keyframes fadeDown {
  0% {
    opacity: 0;
    -ms-transform: translate3d(0, -40%, 0); }
  80% {
    opacity: 0.8;
    -ms-transform: translate3d(0, 10%, 0); }
  100% {
    opacity: 1;
    -ms-transform: translate3d(0, 0, 0); } }
@-ms-keyframes fadeRight {
  0% {
    opacity: 0;
    -ms-transform: translate3d(-40%, 0, 0); }
  100% {
    opacity: 1;
    -ms-transform: translate3d(0, 0, 0); } }
@-ms-keyframes fadeLeft {
  0% {
    opacity: 0;
    -ms-transform: translate3d(40%, 0, 0); }
  100% {
    opacity: 1;
    -ms-transform: translate3d(0, 0, 0); } }


@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes fadeUp2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 40%, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -40%, 0); }
  80% {
    opacity: 0.8;
    transform: translate3d(0, 10%, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translate3d(-40%, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translate3d(40%, 0, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }


